snippet f
`!v MyFn()`
endsnippet

snippet fn
`!v MyFn()`
endsnippet

snippet t
`!v MyTime()`
endsnippet

snippet x
`!v MyFnTime()`
endsnippet

snippet ft
`!v MyFnTime()`
endsnippet

snippet fnt
`!v MyFnTime()`
endsnippet
